---
import {parse} from 'node-html-parser';

export interface Props {
  title: string;
  subtitle: string;
  htmlcontent: string;
  url: string;
  imgalt: string;
  keepleft: boolean;
}

const { title, subtitle, htmlcontent, url, imgalt, keepleft } = Astro.props as Props;

const cleanContent = parse(htmlcontent);
---

<div class="section">
    <div class="container content">
        <div class="columns">
            {keepleft ? 
                <div class="column">
                    <div class="box">
                        <img src={url} alt={imgalt}>
                    </div>
                </div>
                <div class="column">
                    <h2 class="title is-3 pb-2">{title}</h2>
                    <h3 class="subtitle is-6">{subtitle}</h3>
                    {cleanContent}
                </div>
                : 
                <div class="column">
                    <h2 class="title is-3 pb-2">{title}</h2>
                    <h3 class="subtitle is-6">{subtitle}</h3>
                    {cleanContent}
                </div>
                <div class="column">
                    <div class="box">
                        <img src={url} alt={imgalt}>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>

    @media(max-width: 767px) { 
        .reverse-columns-on-standard {
            flex-direction: column-reverse;
            display: flex;
        }
    }

</style>