---
import Header from '../../components/Header.astro';
import Layout from '../../layouts/Layout.astro';
import {parse} from 'node-html-parser';
import Breadcrumb from '../../components/Breadcrumb.astro';

export async function getStaticPaths() {
  const response = await fetch("https://api-eu-west-2.hygraph.com/v2/cl69huq4hdrg601t386sw5d49/master",
    {
      method:'POST',
      headers: {'Content-Type':'application/json'},
      body: JSON.stringify({
        query: `

          query getPosts {
              posts {
                  id
                  title
                  content {
                    html
                  }
              }
          }

          `,
      }),
    })

  const json = await response.json();
  const homecontent = json.data;

  return homecontent.posts.map((post) => {

    let cleanId = post.title.replace(/\s+/g, '-').toLowerCase();

    return {
      params: { id: cleanId },
      props: { post }
    };
  });
}

const { id } = Astro.params;
const { post } = Astro.props;

console.log(id);

const cleanContent = parse(post.content.html);

let title = "Chinese Internal Arts Association of Great Britain";
let description = "CIAA - Internal Martial Arts (neijia) - Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "taijiquan, taiji, tai chi, taichi, yiquan,baguazhang, bagua, xingyiquan, xingyi, qigong, chi kung, martial art, self defense, zhan zhuang, tui shou, CIAA, Berkshire, Berks, Reading, Swallowfield";

---
<Layout>

  <Header slot="header-content" title={title} description={description} keywords={keywords}/>

  <div slot="main-content" class="section">
    <div class="container">

      <Breadcrumb />

      <h1 class="title">{post.title}</h1>
      <div class="content">
        <p>{cleanContent}</p>
      </div>
    </div>
  </div>

</Layout>


