---
import '../../mybulma/css/mystyles.css';
import "@fontsource/crimson-pro/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/700.css";

export interface Props {
	title: string;
	description: string;
    keywords: string;
	canonicals: string;
}

const { title, description, keywords, canonicals } = Astro.props;

---
	<!-- Global Metadata -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<!-- Primary Meta Tags -->
	<title>{title}</title>
	<meta name="title" content={title} />
	<meta name="description" content={description} />
	<meta name="keywords" content={keywords} />
	<link rel="canonical" href={canonicals} />

