---
import FeatureContent from './homepage/FeatureContent.astro';
import Hero from './homepage/Hero.astro';
import PromoteAssociations from './homepage/PromoteAssociations.astro';
import SecondaryContent from './homepage/SecondaryContent.astro';

const response = await fetch("https://api-eu-west-2.hygraph.com/v2/cl69huq4hdrg601t386sw5d49/master",
  {
    method:'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `

        query getHomeSecondaryContent {
            home(where: {id: "cl6ca77rodjh30bmim02bvi13"}) {
                homepageFeatures {
                    ... on FeatureComponent {
                        title
                        subtitle
                        featureImage {
                            url
                        }
                        content {
                            html
                        }
                        featureImageAltText
                        keepImgLeft
                    }
                }
            }
        }


        `,
    }),
  })

const json = await response.json();
const homecontent = json.data;
const features = homecontent.home.homepageFeatures;

---

<main>

    <Hero />
    <SecondaryContent />
    {features.map(feature => 
        <FeatureContent
            title={feature.title}
            subtitle={feature.subtitle}
            htmlcontent={feature.content.html}
            url={feature.featureImage.url}
            imgalt={feature.featureImageAltText}
            keepleft={feature.keepImgLeft}
        />
    )}
    <PromoteAssociations />
</main>
