---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

const response = await fetch("https://api-eu-west-2.hygraph.com/v2/cl69huq4hdrg601t386sw5d49/master",
  {
    method:'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `

        query getZoomClassPage {
            zoomClass(where: {id:"cleu0xnqie58f0amqpdd5hkd5"}) {
                title
                zoomPageSubText
                lessonsListing {
                    html
                }
                videoConfSetup {
                    html
                }
            }
        }

        `,
    }),
  })

const json = await response.json();
const zoomPageContent = json.data.zoomClass;

let title = "Chinese Internal Arts Association of Great Britain";
let description = "CIAA - Internal Martial Arts (neijia) - Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "taijiquan, taiji, tai chi, taichi, yiquan,baguazhang, bagua, xingyiquan, xingyi, qigong, chi kung, martial art, self defense, zhan zhuang, tui shou, CIAA, Berkshire, Berks, Reading, Swallowfield";
---

<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>    
    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <h2 class="title">{zoomPageContent.title}</h2>
            <h4 class="title">{zoomPageContent.zoomPageSubText}</h4>
            <div class="content box has-text-info has-background-light" set:html={zoomPageContent.videoConfSetup.html} />
            <br/>
            <div class="content" set:html={zoomPageContent.lessonsListing.html} />
        </div>
    </section>

</Layout>