---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

const response = await fetch("https://api-eu-west-2.hygraph.com/v2/cl69huq4hdrg601t386sw5d49/master",
  {
    method:'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `

        query getZoomClassPage {
            zoomClass(where: {id:"cleu0xnqie58f0amqpdd5hkd5"}) {
                title
                zoomPageSubText
                lessonsListing {
                    html
                }
                videoConfSetup {
                    html
                }
            }
        }

        `,
    }),
  })

const json = await response.json();
const zoomPageContent = json.data.zoomClass;

let title = "Tai Chi Classes at home via Zoom";
let description = "Learn Tai Chi from home via Zoom with the Founders of the CIAA - Internal Martial Arts. We teach Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "learn, study, how, to, taijiquan, taiji, tai chi, taichi, free classes, classes near me, beginners classes, over 50s, yiquan, baguazhang, bagua";
---

<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>    
    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <h1 class="title">{zoomPageContent.title}</h1>
            <h2 class="title">{zoomPageContent.zoomPageSubText}</h2>
            <div class="content box has-text-info has-background-light" set:html={zoomPageContent.videoConfSetup.html} />
            <br/>
            <div class="content" set:html={zoomPageContent.lessonsListing.html} />
        </div>
    </section>

</Layout>